@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container{
 display: flex;
}

.menuContainer{
  width: 180px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}
.contentContainer{
  flex: 1;
  width: 100%;
  padding: 20px;
}