.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  flex-shrink: 0;
  border-top: 1px solid #384256;

  span {
    &:first-child {
      font-weight: bold;
    }
    &:last-child {
      font-size: 14px;
    }
  }
}
