.footer{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    span{
        &:first-child{
             font-weight: bold;
        }
        &:last-child{
            font-size: 14px;
        }
    }
}